services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: DevOpsTestDocker
    ports:
      - "8000:8000"
    environment:
      - FLASK_APP=src.app
      - FLASK_ENV=development
    volumes:
      - .:/app